.sidebar {
  position: fixed;
  left: 0px;
  top: 55px;
  bottom: 0px;
  width: 72px;
  
  background-color: white;
  z-index: 200;

  padding-top: 5px;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 72px;
  height: 82px;
  justify-content: center ;
}

.sidebar-icon {
  width: 24px;
  margin-bottom: 5px;
}

.text-icon {
  font-size: 10px;
  font-family: Roboto, Arial;

}

.element:hover{
  background-color: rgb(241, 240, 240);
  cursor: pointer;
}